name: test

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: "test"
        shell: "bash"
        run: "echo \"test\""

      - name: "Checkout"
        uses: "actions/checkout@master"

      - name: "Test makeobj-action"
        uses: "G-alumi/makeobj-action@main"

      - name: "Check directory"
        shell: "bash"
        run: "ls -l"