name: test

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: "actions/checkout@master"

      - name: "test"
        shell: "bash"
        run: "ls -l"

      - name: "test2"
        shell: "bash"
        run: "ls -l test"

      - name: "Test makeobj-action"
        uses: "G-alumi/makeobj-action@main"
        with:
          tilesize: "128"
          work-directory: "test"
          pak-path: "../test.pak"

      - name: "Check directory"
        shell: "bash"
        run: "ls -l"